body {
  background-color: lightgray;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  display: inline-block;
}

#header {
  text-align: center;
}

#content {
  background-color: white;
  padding: 15px;
  border: solid black 2px;
}
