pre {
  white-space: pre-wrap;
  padding-left: 1%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#home-link {
  display: block;
}

#blog-container {
  margin-bottom: 5%;
}

#blog-post {
  width: 45%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  border: solid black 1px;
}

#blog-post h2 {
  margin-top: 0;
}

#water-images > img {
  display: inline-block;
  width: 40%;
  height: auto;
  margin-left: 5%;
}