#about {
  display: block;
  width: 50%;
  margin: 50px;
}

#links > div {
  margin-left: 50px;
  margin-right: 50px;
  display: inline-block;
}

#practice {
  position: relative;
  bottom: 36px;
}

div > a {
  display: block;
}

h2 {
  margin-top: 0px;
}