#about {
  display: block;
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
}

#social {
  font-family: "entypo social";
  margin-left: 15px;
}

#links {
  margin-left: 10%;
}

#blog {
  margin-top: 5%;
}

#practice {
  margin-top: 5%;
}
