@font-face {
    font-family: "entypo-social";
    src: url("fonts/Entypo-Social.otf") format("opentype"),
         url("fonts/Entypo-Social.ttf") format("truetype");
}

body {
  background-color: lightgray;
}

#index-container {
  width: 100%;
  height: 100%;
}

#links {
  width: 35%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: white;
  border: solid black 1px;
  position: relative;
  top: 20%; /* looks good with currently, but is not dynamic. */
  box-shadow: 2px 2px;
}

#links div {
  display: block;
  text-align: center;
}

#social a {
  font-family: "entypo-social";
  font-size: 3em;
  color: black;
  text-decoration: none;
}

#blog {
  margin-top: 5%;
}

#blog a {
  display: block;
  font-size: 1.1em;
}

a:link {
  color: black;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: #a6a6a6;
}